name: Scheduled YouTube Stream (Mon & Fri)

on:
  schedule:
    # 2:30 UTC = 8:00 AM IST
    - cron: '30 2 * * 1,5'
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    timeout-minutes: 70   # safety

    steps:
      - uses: actions/checkout@v4

      - name: Install FFmpeg
        run: sudo apt update && sudo apt install -y ffmpeg

      - name: Stream for 1 hour
        run: |
          timeout 3600 ffmpeg -re -stream_loop -1 -i video.mp4 \
          -c:v libx264 -preset ultrafast -pix_fmt yuv420p \
          -c:a aac -ar 44100 -b:a 128k \
          -f flv rtmp://a.rtmp.youtube.com/live2/${{ secrets.TEST_KEY }}
