name: TEST VIDEO

on:
  schedule:
    # 2:30 UTC = 8:00 AM IST
    - cron: '10 9 * * 4'
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    timeout-minutes: 10   # safety

    steps:
      - uses: actions/checkout@v4

      - name: Install FFmpeg
        run: sudo apt update && sudo apt install -y ffmpeg

      - name: Stream for 10 Minutes
        run: |
          ffmpeg -re -stream_loop -1 -i test.mp4 \
          -c:v libx264 -preset ultrafast -pix_fmt yuv420p \
          -c:a aac -ar 44100 -b:a 128k \
          -f flv rtmp://a.rtmp.youtube.com/live2/${{ secrets.TEST_KEY }}
