name: Automated YouTube Live Stream

on:
  workflow_dispatch:
  schedule:
    - cron: '20 2 * * 1,4'   # 07:50 AM IST (Mon & Thu)

jobs:
  stream:
    runs-on: ubuntu-latest
    timeout-minutes: 65

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install -y ffmpeg

      - name: Verify video file
        run: |
          ls -lh
          ffprobe test.mp4

      - name: Start YouTube Live Stream
        run: |
          ffmpeg -re -stream_loop -1 -i test.mp4 \
          -c:v libx264 -preset veryfast -tune zerolatency \
          -pix_fmt yuv420p -profile:v baseline \
          -r 30 -g 60 -keyint_min 60 -sc_threshold 0 \
          -b:v 2500k -maxrate 2500k -bufsize 5000k \
          -c:a aac -ar 44100 -b:a 128k \
          -f flv rtmp://a.rtmp.youtube.com/live2/${{ secrets.TEST_KEY }} || true
